<div class="card text-white bg-primary mb-4 d-flex justify-content-center">
    <div class="card-body">
        <p class="card-text">1 Dólar americano é igual a</p>
        <h2 class="card-title">{{ currency.USD.high | currency:'BRL':'R$' }} Real brasileiro</h2>
    </div>
</div>
<div class="form-row value-price justify-content-between">
    <div class="form-group col-md-6">
        <legend class="control-label">Insira o valor em dólar</legend>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">US$</span>
                </div>
                <input type="text"
                    class="form-control"
                    #price 
                    (keyup)="priceInput(price.value)"
                    mask="separator"
                    thousandSeparator="."
                    placeholder="Ex: 50000">
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-6">
        <legend class="control-label">Insira a taxa do estado</legend>
        <div class="form-group">
            <div class="input-group mb-3">
                <input type="text"
                    class="form-control" 
                    #tax
                    (keyup)="taxInput(tax.value)"
                    mask="percent"
                    placeholder="Ex: 4.76">
                <div class="input-group-append">
                    <span class="input-group-text">%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-white bg-primary mb-4 d-flex col-md-5">
        <div class="card-body">
            <p class="card-text">Preço em Dólar + Taxa</p>
            <h2 class="card-title"> {{ getAmericanPrice() | currency:'USD':'$' }} </h2>
        </div>
    </div>
    <div class="card text-white bg-primary mb-4 d-flex col-md-5">
        <div class="card-body">
            <p class="card-text">Preço em Reais + Taxa</p>
            <h2 class="card-title"> {{ getBrazilianPrice() | currency:'BRL':'R$' }} </h2>
        </div>
    </div>
</div>

<fieldset>
    <legend class="control-label">Selecione a forma de pagamento</legend>
    <div class="form-group">
        <div class="custom-control custom-radio" *ngFor="let iof of iofs">
          <input type="radio" class="custom-control-input"
          [value]="iof.value" [id]="iof.type"
          name="paymentType"
          (change)="selectOption($event)">
          <label class="custom-control-label" for="{{iof.type}}">
              {{ iof.type }} <b>({{ iof.value }}% DE IOF)</b>
          </label>
        </div>
      </div>
      <div class="row justify-content-between" [hidden]="!selected">
        <div class="card text-white bg-primary mb-4 d-flex col-md-5">
          <div class="card-body">
              <p class="card-text">Preço em Dólar</p>
              <h2 class="card-title"> {{ americanTotal | currency:'USD':'$' }} </h2>
          </div>
        </div>
        <div class="card text-white bg-primary mb-4 d-flex col-md-5">
          <div class="card-body">
              <p class="card-text">Preço em Reais</p>
              <h2 class="card-title"> {{ brazilianTotal | currency:'BRL':'R$' }} </h2>
          </div>
        </div>
      </div>
</fieldset>